################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiService/bin/*
/ApiService/obj/*
/.vs